PLANKA_PORT=8080
PLANKA_BASE_URL=http://localhost:8080
PLANKA_SECRET_KEY=secret
PLANKA_DEFAULT_ADMIN_EMAIL=demo@demo.demo
PLANKA_DEFAULT_ADMIN_PASSWORD=demo
PLANKA_DEFAULT_ADMIN_NAME="Demo Demo"
PLANKA_DEFAULT_ADMIN_USERNAME=demo
